@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-variables.scss';
@import './normalize.scss';
@import './atomic.scss';

svg,
img {
  display: inline-block;
}

/* fix: 修复滚动条问题 */
.el-scrollbar {
  height: 100% !important;

  .el-scrollbar__wrap {
    overflow-x: hidden !important;
  }

  .el-scrollbar__bar.is-vertical {
    z-index: 9999;
    opacity: 1 !important;
  }

  .el-scrollbar__thumb {
    background: $scrollbarThumbBg !important;
  }
}

/* fix: 修复菜单问题 */
.el-menu {
  border-right: none;

  &.el-menu--horizontal {
    border-bottom: none;

    .el-submenu .el-submenu__icon-arrow {
      position: static;
      vertical-align: middle;
      margin-left: 8px;
      margin-top: -3px;
    }

    & > div.el-menu-item {
      padding: 0;

      &:hover {
        background: none;
      }
    }
  }
}

/* 通用样式 */
.page-header {
  margin: -10px -10px 0;
  background: #fff;
  padding: 18px 20px;
  line-height: 1.6;

  .title {
    font-size: 18px;
  }

  .content {
    margin-top: 10px;
    font-size: 14px;
  }
}
