/* sideBar 展开宽度 */
$sideOpenWidth: 250px;

/* sideBar 折叠宽度 */
$sideCollapseWidth: 60px;

/* header 高度 */
$headerHeight: 60px;

/* footer 高度 */
$footerHeight: 30px;

/*  setting Panel 宽度 */
$settingPanelWidth: 400px;

/* 滚动条滑块背景色 */
$scrollbarThumbBg: #d3dce6;

/* 菜单 hover 背景色 */
$menuHoverBackgroundColor: #263445;

/* 子菜单背景色 */
$subMenuBackgroundColor: #1f2d3d;

/* 菜单 hover 背景色 */
$subMenuHoverBackgroundColor: #001528;
